.dockerignore
.gitignore
.git
.rspec
codeship-*
Dockerfile
dockercfg.encrypted
README.md
tags
wercker.yml
tmp
log
!log/.keep
!tmp/.keep
.byebug_history
public/system
coverage/
spec/tmp
db/*.sqlite3
db/*.sqlite3-journal
.bundle
vendor/bundle
.rvmrc
.ruby-version
.DS_Store
