/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/tmp
!/log/.keep
!/tmp/.keep
.byebug_history
/public/system
/coverage/
/spec/tmp
*.rbc
capybara-*.html
**.orig
rerun.txt
pickle-email-*.html
/vendor/bundle
.rvmrc
.ruby-version
.DS_Store
/*.iml
/.idea/
/railways.cache
.env
.powenv
/.bin/
